*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'EngraversGothic BT';
}

#offcanvasTop{
    height: 100vh;
    background-color: #d6d2ce;
}

@font-face {
    font-family: 'EngraversGothic BT';
    src: url(../Engravers-Gothic-BT-Font/Engravers-Gothic-BT-Font.ttf);
}

#txt1{
    font-family: 'EngraversGothic BT';
    font-weight: bold;
}

#txt1:hover{
    opacity: 0.5;
}

.box1 p{
    margin-inline: 10px;
    font-weight: bold;
}

.box2 i{
    font-size: 25px;
    margin-left: 30px;
}

#txt2:hover{
    opacity: 0.5;
}

.main1{
    height: 70vh;
    /* border: 1px solid black; */
}

.btn1{
    height: 50px;
    width: 150px;
    border-radius: 30px;
    border: 0px;
}

#input1{
    width: 100%;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #676561;
}

#textarea1{
    height: 25vh;
    width: 100%;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #676561;
}

#p1:hover{
    border-bottom: 1px solid black;
}

/* footer */

#ul1 span{
    line-height: 30px;
}